* {
	box-sizing: border-box; margin: 0px;
}
#table {
    background-color:green; margin: auto; width: fit-content; width:-webkit-fit-content; width:-moz-fit-content;
    margin-top: 2rem; margin-bottom: 2rem;
}
.centered-div {
    text-align: center; display: block; margin-left: auto; margin-right: auto;
}
#pico-div {
    background-color:rgb(225, 225, 225);
}
#first-title {
    color: purple; margin-bottom: 1.5rem; padding-top: 1.5rem;
}
#imagem-pico {
    width:30rem; height:25rem;
}
#vaca {
    padding-bottom: 1.5rem;
}
#amigos {
    color: green;
}
#foto-amigos {
    color: black;
}


/* --------------------------------------------------------- YANDEX ---------------------------------------------------- */
.yandex-search-bar {
    display: flex; justify-content: center; align-items: center; font-family: Arial, Helvetica, sans-serif; margin-top: 5rem;
    margin-bottom: 5rem;
}
#yandex-rus {
    margin-right: 1.1rem;
}
#yandex-img {
    width: 6rem;
}
#search-yandex {
    margin-top: 0.25rem; display: flex; flex-direction: row; width: 40rem; background-color: #fc0; border-radius: 12px;
}
#yandex-button {
    background-color: #fc0; border: none; color: black; text-decoration: none;
    font-size: 15px;  flex: 0.1; border-radius:0 9px 9px 0; height: 35px;
}
#yandex-button:hover {
    background-color: rgb(238, 194, 16);
}
#yandex-button:active {
    background-color: rgb(238, 194, 16); transform: translateY(2px);
  }
#yandex-search-input {
    border: solid 2px #fc0; border-radius: 5px 5px 5px 5px; text-align: left; display: inline-block; font-size: 13px;
    cursor: text; flex: 0.9; padding-left: 0.5rem; z-index: 1; outline: 0;
}


/* --------------------------------------------------------- MEMBROS --------------------------------------------------------- */
/* container for all members and titles */
.membros-container {
    text-align: center; font-family: 'Source Sans Pro', sans-serif; background-color: #080a09; padding-bottom: 5rem;
    margin-bottom: 2rem; color: rgb(246, 248, 242); letter-spacing: 3px; position: relative; overflow: hidden;
    /* background-image: url("imgs/Novo.png");
    background-size: 15rem;
    background-repeat: no-repeat;
    background-position-x: 78rem;
    background-position-y: 3rem; */
}
/* white vertical line */
.membros-container::before {
    content: ''; position: absolute; background-color: rgb(246, 248, 242); top: 0; bottom: 0; transform: translateX(-50%); z-index: 1;
    /* width: 2vw; */ width: 1.7rem;
    /* left: 76px; */ left: 2.8rem;
}
/* green vertical line */
.membros-container::after {
    content: ''; position: absolute; background-color: rgb(84, 219, 57); top: 0; bottom: 0; transform: translateX(-50%); z-index: 1;
    /* width: 2vw; */ width: 1.7rem;
    /* left: 27px; */ left: 5.1rem;
}
/* smaller container that does not include vertival lines to redefine z-index */
.membros-container-2{
    z-index: 10; position: relative;
}
/* Departamento de Web Design */
#dep-title {
    font-size: 55px; margin-top: 3rem; margin-bottom: 2rem;
}
/* Coordenador e Membros texto */
.coordenador-membros-title {
    font-size: 40px; margin-bottom: 3rem;
}
#membros-title {
    margin-top: 3.5rem; letter-spacing: 5.5px;
}
/* members grid */
.membros-div {
    display: flex; flex-wrap: wrap; justify-content: center; margin: 0rem 7rem 0rem 7rem;
}
/* image, name and link of each member */
.one-member {
    text-align: center; margin: 1.5rem;
}
/* posicionar o miguel */
#one-member-miguel {
    margin: 0rem 15rem 0rem 15rem;
}
/* border for the outside-img div so it doesn't destroy the green border when :hover */
.outside-img-border {
    background-color: #080a09; border-radius: 50%; padding: 5px 5px 5px 5px; border: solid 2px rgb(84, 219, 57);
    position: relative; display: inline-block;
}
/* outside div of image of each member */
.outside-img {
    position: relative;
}
/* for transition */
.outside-img .membro-description {
    opacity:0; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out;transition: all 0.5s ease-out;
    filter: alpha(opacity = 0);
}
/* for transition */
.outside-img:hover .membro-description{
    -webkit-transition: all 0.8s ease-out; -moz-transition: all 0.8s ease-out; transition: all 0.8s ease-out;
    filter: alpha(opacity = 100); filter: alpha(opacity = 100); opacity:100;
}
/* for transition */
.outside-img:hover .img-membro {
    margin-top: 0px;
    -webkit-transition: all 0.8s ease-out; -moz-transition: all 0.8s ease-out; transition: all 0.8s ease-out; filter: alpha(opacity = 0);
    filter: alpha(opacity = 0); opacity:0;
}
/* just the image of a member */
.img-membro {
    width: 17rem; border-radius: 50%; filter: alpha(opacity = 100); opacity: 100;
    -webkit-transition: all 0.8s ease-out; -moz-transition: all 0.8s ease-out; transition: all 0.8s ease-out;
}
/* description of each member that shows up after the transition */
.membro-description {
    position: absolute; top: 6.5rem; left: 0rem; font-size: 18px; width: 17rem; text-align: center; height: 10rem;
}
/* description of task in dept. */
#function-description {
    margin-top: 0.5rem;
}
/* each member name */
.nome-membro {
    font-size: 17px; margin-top: 0.5rem;
}
/* div for the link */
.link-div {
    margin-top: 0.5rem;
}
/* link for the website */
.link {
    color: blue;
}