* {
	box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0px;
}
body{ /* for everything */
	margin: 0px; color: #46555f;
	background-color: #080a09;
}
/* -------------------------------------------- HEADER ---------------------------------------------- */
#header{ /* header (rgb(84, 219, 57); #89c45f;) */
	background:#89c45f; /* box-shadow: 0px 5px 5px #D3D3D3;  */ display: flex; position: sticky; align-items: center;
	justify-content: center; left: 0; top: 0; width: 100%; z-index: 999;
}
#clockbox{ /* clock div */
	display: flex; height: auto; width: auto; margin: auto; color: white; font-size: 1.4rem;
}
.github-button { /* github button */
	display: flex; align-items: center; justify-content: center; margin-right: 0.7rem; float: right; color: #89c45f;
	text-decoration: none; font-size: 2.2rem; background-color: white; width: 100%;
	border-radius: 10px; border: solid 1.5px white;
}
.github-button p { /* words */
	font-size: 1.2rem; margin-right: 0.5rem;
}
#psem-logo { /* logo */
	display: block; width: 5.8rem; height: 2.5rem; float: left; margin-left:0.5rem; margin-top:0.5rem;
	margin-bottom: 0.4rem; margin-right: 0.3rem; background-color: inherit;
}
.button-web-design { /* button for redirecting to the web design page (not in use anymore)*/
	font: bold; text-decoration: none; background-color: white /*#89c45f*/; margin: 5px 1.8rem 5px 5px; float: right; color: #89c45f/*white*/;
	/* box-shadow: 2px 2px 2px #D3D3D3;  */ padding: 1px 1px 1px 1px;
	border-radius: 8px; font-size: 1.7rem;
	/* border: solid 1.5px white; */
}

/* ---------------------------------------------- GRAPHS ------------------------------------------------ */
.graphs-container {
	display: flex; flex-direction: column;
}
.splines-container { /* container for the splines */
	display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; margin: 0.5rem 0 0.5rem 0;
}
.gauges-container { /* container for the gauges */
	display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;
}
.one-graph { /* each individual graph */
	position: relative; margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}
#speed-graph { /* speed "clock" */
	width: 25rem; height: 28rem;
}
.spline {
	width: 45rem; height: 20rem;
}
.gauge { /* both gauges */
	width: 25rem; height: 12rem;
}
/* ------------------- PREVIOUS HIGHCHARTS PARAMETERS -------------------------- */
/* .highcharts-figure, .highcharts-data-table table {
	min-width: 320px; max-width: 800px; width: 600px; margin: 0;
}
.highcharts-data-table table {
	font-family: Verdana, sans-serif; border-collapse: collapse; border: 1px solid #EBEBEB; margin: 10px auto;
	text-align: center; width: 100%;
}
.highcharts-data-table caption {
	padding: 1em 0; font-size: 1.2em; color: #555;
}
.highcharts-data-table th {
	font-weight: 600; padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
	padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
	background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
@media (max-width: 600px) {
	.highcharts-figure, .highcharts-data-table table {
		width: 100%;
	}
	.highcharts-figure .gauge {
		width: 300px; float: none; margin: 0 auto;
	}
} */

/* -------------------------- NOT IN USE AT THE MOMENT ------------------------ */
#table{ /* dummy table */
	margin-left: 5px; margin-top: 7px; text-align: left; float: right; padding-left: 3px; padding-right: 3px; position: relative;
}
#month, #day, #year, #hour, #minute, #second, p{ /* display of the date in the body */
	margin-left: 0.1rem; float: left;
}
#table th, #table td{ /* elements for the table */
	padding: 3px; border: 1px solid #ddd;
}